.curriculum-header {
  position: absolute;
  width: 100%;
}
.curriculum-header div {
  display: inline-block;
}

.curriculum-header #curriculum-container-contact {
  background-color: blue;
  right: 0;
}