<div fxLayout="column">
  <div fxLayout="row"  class="curriculum-container" fxLayoutAlign="space-between">
    <div fxLayout="column">
      <h2>Alex R. Ventura Quiroz</h2>
      <div fxLayout="row" id="curriculum-title-info">
        <span class="caption"><strong>Citizenship: </strong>Bolivian </span>
        <span>,&nbsp;&nbsp;</span>
        <span class="caption"><strong>Date of birth: </strong>June 14, 1988</span>
      </div>
    </div>
    <div fxLayout="column" class="curriculum-card-layout">
      <div class="curriculum-card-head">
        <span>Contact</span>
      </div>
      <div fxLayout="column" class="curriculum-card-body">
        <span class="caption"><strong>Phone: </strong>+54 11 34034426</span>
        <span class="caption"><strong>Email: </strong>alex.rv11@gmail.com</span>
        <span><strong>Github:</strong><a href="https://github.com/alexrv11/" target="_blank">https://github.com/alexrv11/</a></span>
      </div>
    </div>
  </div>
  <div fxLayout="column" class="curriculum-container">
    <div fxLayout="column" fxLayoutAlign="space-between" class="curriculum-card-layout">
      <div class="curriculum-card-head">
        <span><strong>Objetive</strong></span>
      </div>
      <div fxLayout="column" class="curriculum-card-body">
        <p>
          Improve my skills, build a career in software development and have experience in high-level projects.
        </p>
      </div>    
    </div>
  </div>
  <div fxLayout="column" class="curriculum-container">
  <div fxLayout="column" fxLayoutAlign="space-between" class="curriculum-card-layout">
    <div class="row curriculum-card-head" fxLayoutAlign="space-between">
      <span><strong>Work Experience</strong></span>
      <span>8 years</span>
    </div>
    <div fxLayout="column" class="curriculum-card-body">
      <div class="column">
        <div class="row" fxLayoutAlign="space-between">
            <div class="column">
                <span>Jalasoft</span><br/>
                <a href="https://www.jalasoft.com" target="_blank">https://www.jalasoft.com</a>                  
            </div>
            <div class="column">
                <span>full-time Job</span><br/>
                <span>July 2014, July 2017</span><br/>
                <span>3 years</span>
              </div>
        </div>
        <div class="row" fxLayoutAlign="space-between">
            <div class="column">
                <span>FullStack Software Developer</span>        
            </div>
        </div>
        <div class="column">
          <span><strong>Project Tools</strong></span>
          <ul>
            <li>Groovy, Gradle, Java, Spock framework, Dropwizard</li>
            <li>Visual Studio 2013/2015</li>
            <li>SQL Server 2008/2012, SQL Profiler</li>
            <li>C#/C++, Unit Framework, Cpp Unit test Framework </li>
          </ul>
        </div>
        <div class="column">
            <span><strong>Description</strong></span>
            <p>
              I have worked on developing a gradle plugin for salesforce platform to help to developer on this platform upload, retrieve, changes in de code and work in a local development environment.
              Also I have been working on an accounting application migrating legacy code descktop application written on mfc c++ platform to a web application using .net technologies.
            </p>
        </div>
      </div>
    </div>
    <div class="spliter-card-container"><div class="spliter-card-body"></div></div>
    <div fxLayout="column" class="curriculum-card-body">
        <div class="column">
          <div class="row" fxLayoutAlign="space-between">
              <div class="column">
                  <span>Ideasoft</span><br/>
                  <a href="http://www.ideasoftinc.com/" target="_blank">http://www.ideasoftinc.com/</a>                  
              </div>
              <div class="column">
                  <span>full-time Job</span><br/>
                  <span>September 2012, April 2014</span><br/>
                  <span>1 year, 7 months</span>
                </div>
          </div>
          <div class="row" fxLayoutAlign="space-between">
              <div class="column">
                  <span>.Net, Javascript Software Developer</span>        
              </div>
          </div>
          <div class="column">
            <span><strong>Project Tools</strong></span>
            <li>Visual Studio 2013/2015, SQL Server 2008</li>
            <li>Entity Framework, store procedures, views, index</li>
            <li>C#, asp .net web forms, asp .net mvc 3, renderizador html  razor</li>
            <li>Angular 1.0.0, JQuery, Boostraper css</li>
          </div>
          <div class="column">
            <span><strong>Description</strong></span>
            <p>
                I have worked on developing a web application for the generation of financial reports and investment reports, balance sheets, cash flow, incomes.
            </p>
          </div>
        </div>
    </div>
    <div class="spliter-card-container"><div class="spliter-card-body"></div></div>
    <div fxLayout="column" class="curriculum-card-body">
      <div class="column">
        <div class="row" fxLayoutAlign="space-between">
            <div class="column">
                <span>Departamento de Informatica y Sistemas – Universidad Mayor de San Simon</span><br/>
                <a href="http://www.fcyt.umss.edu.bo/" target="_blank">http://www.fcyt.umss.edu.bo/</a>                  
            </div>
            <div class="column">
                <span>part-time Job</span><br/>
                <span>September 2009, December 2012</span><br/>
                <span>3 years, 3 months</span>
              </div>
        </div>
        <div class="row" fxLayoutAlign="space-between">
            <div class="column">
                <span>Programming Teaching Assistant</span>        
            </div>
        </div>
        <div class="column">
          <span><strong>Signatures:</strong></span>
          <ul>
            <li>Introduction to Programming</li>
            <li>Elements of the Programming and Data Structures</li>
            <li>Object Oriented Programming Course</li>
          </ul>
        </div>
        <div class="column">
            <span><strong>Description</strong></span>
            <p>
            </p>
        </div>
      </div>
    </div>  
  </div>
  <div fxLayout="row" class="curriculum-skill" fxLayoutAlign="space-around">

  </div>
  <div fxLayout="row" class="curriculum-education" fxLayoutAlign="space-around">

  </div>
</div>