<div class="content-dashboard">
  <div class="curriculum-header">
    <div>
      <h2>Alex R. Ventura Quiroz</h2>
      <h4>Citizenship: Bolivian </h4>
      <h4>Date of birth: June 14, 1988</h4>
    </div>
    <div id="curriculum-container-contact">
      <h4>Phone: +5491134034426</h4>
      <h4>Email: alex.rv11@gmail.com</h4>
    </div>
  </div>
  <div class="curriculum-objetives">
      
  </div>
  <div class="curriculum-experiances">

  </div>
  <div class="curriculum-skill">

  </div>
  <div class="curriculum-education">

  </div>
</div>