<div class="project-content">
  <div class="project-card">
    <div class="project-header-card">
      <div class="center-align project-header-title-card">
        <img width="60px" height="60px" src="assets/svg/curriculum.svg">
      </div>
      <ul class="project-header-tags-card">
        <li class="tag-item">1</li>
        <li class="tag-item">2</li>
        <li class="tag-item">3</li>
        <li class="tag-item">4</li>
        <li class="tag-item">5</li>
      </ul>
    </div>
    <div class="project-body-card"> 
      <a>
        <span>Title</span>
        <p>description</p>
      </a>
      <div class="project-footer-content-card">
          footer
      </div>
    </div>
  </div>
</div>
