<div class="project-content">
  <div class="project-card">
    <div class="project-header-card">
      <div class="center-align project-header-title-card">
        <img width="60px" height="60px" src="assets/svg/curriculum.svg">
      </div>
      <ul class="project-header-tags-card">
        <li class="tag-item">angular.io, material, firebase</li>
      </ul>
    </div>
    <div class="project-body-card"> 
      <a>
        <span>Project 1</span>
        <p>
          Enforce development tool for salesforce plataform.
        </p>
      </a>
      <div class="project-footer-content-card">
          <img width="45px" height="60px" src="assets/svg/curriculum.svg">
          <div>
            <span>By </span>
            <code>alexrv11</code>
          </div>
      </div>
    </div>
  </div>
</div>
