<!--The content below is only a placeholder and can be replaced.-->
<div class="content center-align">
  <div class="presentation">
      <div class="container">
        <code id="title"> > Hello World...</code> 
      </div>
      <div class="introduction center-align">
        <img width="100" src="assets/images/profile.jpg">
        <div class="info-contact">
          <div> <pre>alexrv11</pre></div>
          <div><i>Alex Ventura Quiroz</i></div>
          <div><b><strong>Software Developer</strong></b></div>
        </div>
      </div>
      <div id="hobbies" class="center-align">
        <div class="hobbie-card vertical-align">
          <a [routerLink]="['../dashboard/curriculum']">
            <img src="assets/svg/curriculum.svg" matTooltip="Curriculum Vitae" matTooltipPosition="above">
          </a>
          
        </div>
        <div class="hobbie-card vertical-align">
            <a [routerLink]="['../dashboard/projects']">
              <img width="40" src="assets/svg/projects.svg" matTooltip="Projects" matTooltipPosition="above">
            </a>
        </div>
        <div class="hobbie-card vertical-align">
            <a [routerLink]="['../dashboard/articles']">
              <img width="40" src="assets/svg/articles.svg" matTooltip="Articles" matTooltipPosition="above">
            </a>
        </div>
        <div class="hobbie-card vertical-align">
          <a [routerLink]="['../dashboard/presentations']">
            <img width="40" src="assets/svg/presentation.svg"  matTooltip="Presentations" matTooltipPosition="above">
          </a>
        </div>
      </div>
      <div class="social-network center-align">
        <a href="http://twitter.com/alexrv11" class="social-network-item">
          <img src="assets/images/twitter.png"/>
        </a>
    
        <a href="https://github.com/alexrv11" class="social-network-item">
          <img src="assets/images/github.png"/>
        </a>
    
        <a href="https://www.linkedin.com/in/alexventuraq/" class="social-network-item">
          <img src="assets/images/linkedin.png"/>
        </a>
    
        <a href="skype:alex.rv11?chat" class="social-network-item">
          <img src="assets/images/skype.png"/>
        </a>
    
        <a href="mailto:alex.rv11@gmail.com" class="social-network-item">
          <img src="assets/images/email.png"/>
        </a>
      </div>
  </div>
</div>


